name: Test

on: 
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: action-pack/valid-xml@v1
        with:
          path: "test"
          file-endings: ".xml"
